.container { width: 100%; height: 100%; position: relative; }
.container * { background-position: center center; background-repeat: no-repeat; background-size: cover; letter-spacing: -1px; box-sizing: border-box; }
.container > .section { margin: 0 auto; border: 1px solid #e0e0e0; background-color: #fff; }
.container > .section > .title_box { width: 100%; border-bottom: 1px solid #aaa; }
.container > .section > .title_box > h3 { font-weight: bold; color: #1c4682; }
.container > .section > form > fieldset > legend { display: block; font-weight: normal; border-left: 4px solid #006cba; color: #333; }
.container > .section > form > fieldset > div { width: 100%; }
.container > .section > form > fieldset > div > label { float: left; background-color: #EFEFEF; display: block; text-align: center; font-weight: bold; color: #333; border-bottom: 1px solid #aaa; }
.container > .section > form > fieldset > div > div { float: left; border-bottom: 1px solid #aaa; }
.container > .section > form > fieldset > div > div > * { color: #595959; float: left; border: 1px solid #dadada; }
.container > .section > form > fieldset > div > div > ul { border: 0; }
.container > .section > form > fieldset > div > div > ul > li { float: left; }
.container > .section > form > fieldset > div > div > ul > li > input { border: 1px solid #dadada; }
.container > .section > form > fieldset > div > div > input[type="text"] { text-indent: 5px; }
.container > .section > form > fieldset > div > div > input[type="text"]:focus { background-color: #f3fbff; }
.container > .section > form > fieldset > div > div > label { border: 0; }
.container > .section > form > fieldset > div > div > select { background-color: transparent; }
.container > .section > form > fieldset > div > div > p { border: 0; }
.container > .section > form > fieldset > .category01 { border-top: 2px solid #484848; }
.container > .section > form > fieldset > .category05 > div > input[type="button"] { background-color: #006cba; color: #fff; border: 0; }
.container > .section > form > fieldset > .category11 > div > select { width:100px; }
.container > .section > form > fieldset > .category001 { border-top: 2px solid #484848; }
.container > .section > form > fieldset > .category016 > div > input { width: auto; }
.container > .section > form > .btn_box { border: 0; margin: 0 auto; }
.container > .section > form > .btn_box > input { font-weight: bold; color: #fff; border: 0; cursor: pointer; float: left; }
.container > .section > form > .btn_box > #okBtn { background-color: #006CB8; }
.container > .section > form > .btn_box > #cancleBtn { background-color: #aaa; }

@media all and (min-width: 1080px) { .container { padding: 100px 0; }
  .container > .section { width: 1082px; padding: 40px; }
  .container > .section > .title_box { height: 70px; margin-bottom: 40px; }
  .container > .section > .title_box > h3 { width: auto; height: 50px; font-size: 44px; margin-bottom: 6px; }
  .container > .section > form { width: 100%; }
  .container > .section > form > fieldset { margin-bottom: 65px; }
  .container > .section > form > fieldset > legend { width: auto; height: 22px; line-height: 22px; font-size: 20px; padding-left: 10px; margin-bottom: 20px; }
  .container > .section > form > fieldset > div { width: 50%; height: 56px; float: left; }
  .container > .section > form > fieldset > div > * { line-height: 56px; height: 100%; float: left; }
  .container > .section > form > fieldset > div > label { width: 110px; font-size: 14px; }
  .container > .section > form > fieldset > div > div { width: 390px; padding-left: 25px; }
  .container > .section > form > fieldset > div > div > * { margin-top: 13px; }
  .container > .section > form > fieldset > div > div > ul { width: 100%; height: 30px; }
  .container > .section > form > fieldset > div > div > ul > li { width: auto; height: 30px; line-height: 30px; margin-right: 2%; }
  .container > .section > form > fieldset > div > div > ul > li > input[type="text"] { width: 70%; margin-left: 5px; }
  .container > .section > form > fieldset > div > div > ul > li > input[type="checkbox"] { width: auto; }
  .container > .section > form > fieldset > div > div > ul > li > label { font-size: 14px; }
  .container > .section > form > fieldset > div > div > input { width: 220px; height: 30px; }
  .container > .section > form > fieldset > div > div > select { height: 30px; }
  .container > .section > form > fieldset > div > div > p { margin-top: 0; line-height: 56px; margin: 0 7px; }
  .container > .section > form > fieldset > .categoryTwo { width: 25%; }
  .container > .section > form > fieldset > .categoryTwo > div { width: 140px; }
  .container > .section > form > fieldset > .categoryTwo > div > input { width: 80px; }
  .container > .section > form > fieldset > .categoryTwo > div > select { width: 80px; }
  .container > .section > form > fieldset > .categoryOne { width: 100%; }
  .container > .section > form > fieldset > .categoryOne > div { width: 890px; }
  .container > .section > form > fieldset > .categoryOne > div > input { width: 350px; }
  .container > .section > form > fieldset > .categoryOne > div > input[type="text"] { width: 350px; margin-right: 20px; }
  .container > .section > form > fieldset > .categoryOne > div > input[type="button"] { width: 100px; }
	.container > .section > form > fieldset > .categoryNumber { width: 100%; }
  .container > .section > form > fieldset > .categoryNumber > div { width: 890px; }
	.container > .section > form > fieldset > .categoryNumber > div > input { width: 100px; }
  .container > .section > form > fieldset > .categoryNum > div > select { width: 50px; }
  .container > .section > form > fieldset > .categoryNum > div > input { width: 80px; }
  .container > .section > form > fieldset > .category001 > div { width: 890px; }
  .container > .section > form > fieldset > .category001 > div > input { width: 830px !important; }
  .container > .section > form > fieldset > .category02 { border-top: 2px solid #484848; }
  .container > .section > form > fieldset > .category008 li { margin-right: 5%; }
  .container > .section > form > fieldset > .category009 > div > input { width: 80px; }
  .container > .section > form > fieldset > .category013 > div > ul > .lastCheck { width: 50%; }
  .container > .section > form > fieldset > .category013 > div > ul > .lastCheck > input[type="text"] { width: 80%; }
  .container > .section > form > fieldset > .category016 > div > input[type="checkbox"] { margin-left:15px; }
  .container > .section > form > fieldset > .category016 > div > label { line-height: 30px; }
  .container > .section > form > fieldset > .category021 > div > ul > li > input[type="text"] { width: 70%; }
  .container > .section > form > fieldset > .categoryHauto { height: 120px; }
  .container > .section > form > fieldset > .categoryHauto > label { height: 100%; line-height: 24px; padding-top: 35px; }
  .container > .section > form > fieldset > .categoryHauto > div { height: 100%; padding: 3% 5%; margin: 0; }
  .container > .section > form > fieldset > .categoryHauto > div > textarea { width: 100%; height: 100%; padding: 4px; margin: 0; resize: none; }
  .container > .section > form > fieldset > .category018 > label, .container > .section > form > fieldset .category020 > label { padding-top: 50px; }
  .container > .section > form > .btn_box { width: 210px; height: 35px; }
  .container > .section > form > .btn_box > input { width: 100px; height: 100%; line-height: 35px; font-weight: bold; color: #fff; border: 0; cursor: pointer; }
  .container > .section > form > .btn_box > #okBtn { background-color: #006CB8; }
  .container > .section > form > .btn_box > #cancleBtn { background-color: #aaa; float: right; } }
@media (min-width: 641px) and (max-width: 1079px) { .container { padding: 5% 0; }
  .container > .section { width: 96%; padding: 2%; }
  .container > .section > .title_box { height: 60px; margin-bottom: 30px; }
  .container > .section > .title_box > h3 { font-size: 30px; height: 32px; width: auto; }
  .container > .section > form { width: 100%; }
  .container > .section > form > fieldset { margin-bottom: 30px; }
  .container > .section > form > fieldset > legend { width: auto; height: 22px; line-height: 22px; font-size: 18px; padding-left: 10px; margin-bottom: 2%; }
  .container > .section > form > fieldset > div { width: 100%; }
  .container > .section > form > fieldset > div > * { height: 50px; line-height: 50px; }
  .container > .section > form > fieldset > div > label { width: 12.5%; font-size: 16px; float: left; }
  .container > .section > form > fieldset > div > div { width: 37.5%; float: left; padding-left: 3%; }
  .container > .section > form > fieldset > div > div > * { margin-top: 9px; }
  .container > .section > form > fieldset > div > div > ul { width: 100%; height: 30px; }
  .container > .section > form > fieldset > div > div > ul > li { height: 30px; line-height: 30px; margin-left: 2%; }
  .container > .section > form > fieldset > div > div > input { width: 80%; height: 30px; }
  .container > .section > form > fieldset > div > div > select { width: 60%; height: 30px; font-size: 16px; }
  .container > .section > form > fieldset > div > div > p { font-size: 16px; margin-top: 0; line-height: 50px; }
  .container > .section > form > fieldset > div > div > label { margin-top: 0; line-height: 50px; font-size: 14px; }
  .container > .section > form > fieldset > .categoryOne { width: 100%; }
  .container > .section > form > fieldset > .categoryOne > div { width: 87.5%; }
	.container > .section > form > fieldset > .categoryNumber { width: 100%; }
  .container > .section > form > fieldset > .categoryNumber > div { width: 87.5%; }
	.container > .section > form > fieldset > .categoryNumber > div > input { width: 20%; }
  .container > .section > form > fieldset > .categoryTwo { width: 25%; float: left; }
  .container > .section > form > fieldset > .categoryTwo > label { width: 50%; }
  .container > .section > form > fieldset > .categoryTwo > div { width: 50%; }
  .container > .section > form > fieldset > .categoryTwo > div > input { width: 70%; }
  .container > .section > form > fieldset > .categoryTwo > div > select { width: 80%; }
  .container > .section > form > fieldset > .categoryNum > div > select { width: 20%; }
  .container > .section > form > fieldset > .categoryNum > div > input { width: 30%; }
  .container > .section > form > fieldset > .categoryNum > div > p { margin: 0 2%; }
  .container > .section > form > fieldset > .category05 > div > input[type="text"] { width: 50%; margin-right: 3%; }
  .container > .section > form > fieldset > .category05 > div > input[type="button"] { width: 27%; font-size: 12px; }
  .container > .section > form > fieldset > .category14 > div > p {margin: 0 1%;}
  .container > .section > form > fieldset > .category008 > div { padding: 0; }
  .container > .section > form > fieldset > .category008 > div li { margin-left: 4%; }
  .container > .section > form > fieldset > .category009 > div { padding-left: 1%; }
  .container > .section > form > fieldset > .category009 > div > input { width: 25%; }
  .container > .section > form > fieldset > .category009 > div > p { margin: 0 2%; }
  .container > .section > form > fieldset > .category013 > div { padding: 0; }
  .container > .section > form > fieldset > .category013 > div > ul > .lastCheck { width: 50%; }
  .container > .section > form > fieldset > .category013 > div > ul > .lastCheck > input[type="text"] { width: 70%; margin-left: 2%; }
  .container > .section > form > fieldset > .category016 > div > input[type="text"] { width:50%; }
  .container > .section > form > fieldset > .category016 > div > input[type="checkbox"] { margin-left:10px; }
  .container > .section > form > fieldset > .category016 > div > label { line-height: 50px; }
  .container > .section > form > fieldset > .category021 > label { height: 100px; line-height: 100px; }
  .container > .section > form > fieldset > .category021 > div { height: 100px; padding: 0; }
  .container > .section > form > fieldset > .category021 > div > ul { height: 80px; }
  .container > .section > form > fieldset > .category021 > div > ul > li { width: 18%; margin-top: 9px; }
  .container > .section > form > fieldset > .category021 > div > ul > .lastCheckTwo { width: 23%; }
  .container > .section > form > fieldset > .category021 > div > ul > .lastCheck { width: 60%; }
  .container > .section > form > fieldset > .category021 > div > ul > .lastCheck > input[type="text"] { width: 80%; margin-left: 3%; }
  .container > .section > form > fieldset > .category021 > div > input { width: 60%; }
  .container > .section > form > fieldset > .category021 > div > input[type="checkbox"] { width: auto; margin-left: 2%; margin-right: 1%; }
  .container > .section > form > fieldset > .category021 > div > label { width: 11.5%; }
  .container > .section > form > fieldset > .category021 > div > .label01 { width: 8%; }
  .container > .section > form > fieldset > .category021 > div > .label06 { width: 15%; }
  .container > .section > form > fieldset > .categoryHauto { height: 120px; }
  .container > .section > form > fieldset > .categoryHauto > label { height: 100%; line-height: 24px; padding-top: 50px; }
  .container > .section > form > fieldset > .categoryHauto > div { height: 100%; padding: 1.5% 3%; margin: 0; }
  .container > .section > form > fieldset > .categoryHauto > div > textarea { width: 100%; height: 100%; padding: 4px; margin: 0; resize: none; }
  .container > .section > form > fieldset > .category018 > label, .container > .section > form > fieldset .category020 > label { padding-top: 35px; }
  .container > .section > form > .btn_box { width: 60%; height: 40px; margin: 0 auto; }
  .container > .section > form > .btn_box > input { width: 48%; height: 100%; font-size: 14px; }
  .container > .section > form > .btn_box > #okBtn { margin-right: 4%; } }
@media (max-width: 640px) { .container { padding: 5% 0; }
  .container > .section { width: 96%; padding: 2%; }
  .container > .section > .title_box { height: 35px; margin-bottom: 5%; }
  .container > .section > .title_box > h3 { font-size: 20px; height: 26px; width: auto; }
  .container > .section > form { width: 100%; }
  .container > .section > form > fieldset { margin-bottom: 30px; }
  .container > .section > form > fieldset > legend { width: auto; height: 22px; line-height: 22px; font-size: 16px; padding-left: 10px; margin-bottom: 2%; }
  .container > .section > form > fieldset > div { width: 100%; }
  .container > .section > form > fieldset > div > * { height: 40px; line-height: 40px; }
  .container > .section > form > fieldset > div > label { width: 25%; font-size: 13px; float: left; }
  .container > .section > form > fieldset > div > div { width: 75%; float: left; padding-left: 3%; }
  .container > .section > form > fieldset > div > div > * { margin-top: 9px; }
  .container > .section > form > fieldset > div > div > ul { width: 100%; margin-top: 0; }
  .container > .section > form > fieldset > div > div > ul > li { margin-left: 2%; height: 22px; margin-top: 9px; line-height: 22px; }
  .container > .section > form > fieldset > div > div > input { width: 80%; height: 22px; }
  .container > .section > form > fieldset > div > div > select { width: 60%; height: 22px; font-size: 16px; }
  .container > .section > form > fieldset > div > div > p { font-size: 13px; margin-top: 0; line-height: 40px; }
  .container > .section > form > fieldset > div > div > label { margin-top: 0; line-height: 40px; margin: 0 5px; font-size: 12px; }
  .container > .section > form > fieldset > .categoryTwo { width: 50%; float: left; }
  .container > .section > form > fieldset > .categoryTwo > label { width: 50%; }
  .container > .section > form > fieldset > .categoryTwo > div { width: 50%; }
  .container > .section > form > fieldset > .categoryTwo > div > input { width: 70%; }
  .container > .section > form > fieldset > .categoryTwo > div > select { width: 80%; }
	.container > .section > form > fieldset > .categoryNumber > div > input { width: 20%; }
  .container > .section > form > fieldset > .categoryNum > div > select { width: 20%; }
  .container > .section > form > fieldset > .categoryNum > div > input { width: 30%; }
  .container > .section > form > fieldset > .categoryNum > div > p { margin: 0 2%; }
  .container > .section > form > fieldset > .category05 > div > input[type="text"] { width: 50%; margin-right: 3%; }
  .container > .section > form > fieldset > .category05 > div > input[type="button"] { width: 27%; font-size: 12px; }
  .container > .section > form > fieldset > .category14 > div > p {margin: 0 1%;}
  .container > .section > form > fieldset > .category008 > div { padding-left: 2%; }
  .container > .section > form > fieldset > .category009 > div > input { width: 25%; }
  .container > .section > form > fieldset > .category009 > div > p { margin: 0 3%; }
  .container > .section > form > fieldset > .category013 > label { height: 80px; line-height: 80px; }
  .container > .section > form > fieldset > .category013 > div { height: 80px; }
  .container > .section > form > fieldset > .category013 > div > ul > li > input[type="text"] { width: 60%; margin-left: 3%; }
  .container > .section > form > fieldset > .category016 > div > input[type="text"] { width:50%; }
  .container > .section > form > fieldset > .category016 > div > input[type="checkbox"] { margin-left:3%; }
  .container > .section > form > fieldset > .category021 > label { height: 140px; line-height: 140px; }
  .container > .section > form > fieldset > .category021 > div { height: 140px; padding: 0; }
  .container > .section > form > fieldset > .category021 > div > ul { width: 100%; }
  .container > .section > form > fieldset > .category021 > div > ul > li { width: 48%; }
  .container > .section > form > fieldset > .category021 > div > ul > .lastCheck { width: 100%; }
  .container > .section > form > fieldset > .category021 > div > ul > .lastCheck > input[type="text"] { margin-left: 5%; }
  .container > .section > form > fieldset > .categoryHauto { height: 120px; }
  .container > .section > form > fieldset > .categoryHauto > label { height: 100%; line-height: 24px; padding-top: 35px; }
  .container > .section > form > fieldset > .categoryHauto > div { height: 100%; padding: 3% 5%; margin: 0; }
  .container > .section > form > fieldset > .categoryHauto > div > textarea { width: 100%; height: 100%; padding: 4px; margin: 0; resize: none; }
  .container > .section > form > fieldset > .category018 > label, .container > .section > form > fieldset .category020 > label { padding-top: 50px; }
  .container > .section > form > .btn_box { width: 60%; height: 40px; margin: 0 auto; }
  .container > .section > form > .btn_box > input { width: 48%; height: 100%; font-size: 14px; }
  .container > .section > form > .btn_box > #okBtn { margin-right: 4%; } }
.container:after { background-image: url(/_img/sub/pyramidalWaveBG.png); top: 0; left: 0; position: absolute; background-size: 75px; z-index: -2; content: ""; width: 100%; height: 100%; background-repeat: repeat; }