input{border: 0; }
.container {
  width: 100%;
  height: 100%;
  position: relative; }
  .container * {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: -1px; }
  .container > .section {
    background-color: #fff;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    box-sizing: border-box; }
.container > .tab_silde {}
.container > .tab_silde > li { text-align: center; cursor: pointer; font-weight: bold; border: 1px solid #CACACA; box-sizing: border-box; background-color: #fff; }
.container > .tab_silde > li > a { color: #565656; display: block; text-decoration: none; }
.container > .tab_silde > li > a > span { font-weight: inherit; font-size: inherit; color: #565656; }
.container > .tab_silde > .on > a { background-color: #565656; color: #fff; display: block; }
.container > .tab_silde > .on > a > span { color: #fff; }
.container > .tab_silde > .on > .triangle-down { margin: 0 auto; overflow: hidden; display: block; }
.container > .tab_silde > .individual_member { float: left; }
.container > .tab_silde > .individual_member > span { display: block; }
    .container > .section > .title_box {
      width: 100%;
      border-bottom: 1px solid #aaa; }
      .container > .section > .title_box > h3 {
        font-weight: bold;
        color: #1c4682; }
      .container > .section > .title_box > p {
        color: #484848; }
    .container > .section > .form_box {
      border-top: 2px solid #484848;
      box-sizing: border-box; }
      .container > .section > .form_box > form > fieldset > legend {
        width: 0;
        height: 0;
        display: block;
        overflow: hidden; }
      .container > .section > .form_box > form > fieldset > div {
        width: 100%;
        border-bottom: 1px solid #aaa;
        box-sizing: border-box;
        display: block; }
        .container > .section > .form_box > form > fieldset > div > * {
          float: left; }
        .container > .section > .form_box > form > fieldset > div > label {
          background-color: #EFEFEF;
          display: block;
          text-align: center;
          font-weight: bold;
          color: #333; }
        .container > .section > .form_box > form > fieldset > div > div > div {
          float: left;
          border: 0; }
        .container > .section > .form_box > form > fieldset > div > div > * {
          float: left;
          border: 1px solid #dadada;
          box-sizing: border-box;
          margin-left: 5px; }
        .container > .section > .form_box > form > fieldset > div > div > input[type="text"] {
          text-indent: 5px; }
        .container > .section > .form_box > form > fieldset > div > div > input[type="text"]:focus {
          background-color: #f3fbff; }
        .container > .section > .form_box > form > fieldset > div > div > textarea:focus {
          background-color: #f3fbff; }
        .container > .section > .form_box > form > fieldset > div > div > textarea {
          line-height: 26px;
          text-indent: 5px;
          resize: none; }
        .container > .section > .form_box > form > fieldset > div > div > label {
          border: 0; }
        .container > .section > .form_box > form > fieldset > div > div > span {
          border: 0; }
        .container > .section > .form_box > form > fieldset > div > div > p {
          border: 0; }
          .container > .section > .form_box > form > fieldset > div > div > p > span {
            width: 0;
            height: 0;
            display: block;
            overflow: hidden; }
      .container > .section > .form_box > form > fieldset > .email_box > div > #authSubmit {
        background-color: #006CB8;
				color: #fff;
				font-weight: bold: }
      .container > .section > .form_box > form > fieldset > .email_box > div > div > p {
        color: #999; }
      .container > .section > .form_box > form > fieldset > .email_box > div > div > * {
        float: left; }
      .container > .section > .form_box > form > fieldset > .sns_box > div > .f {
        background-image: url(/_img/main/signup/f.png);
        background-size: contain; }
      .container > .section > .form_box > form > fieldset > .sns_box > div > .k {
        background-image: url(/_img/main/signup/k.png);
        background-size: contain; }
      .container > .section > .form_box > form > fieldset > .sns_box > div > .n {
        background-image: url(/_img/main/signup/n.png);
        background-size: contain; }
      .container > .section > .form_box > form > fieldset > .sns_box > div > .g {
        background-image: url(/_img/main/signup/g.png);
        background-size: contain; }
      .container > .section > .form_box > form > fieldset > .sns_box > div > .m {
        background-image: url(/_img/main/signup/m.png);
        background-size: contain; }
      .container > .section > .form_box > form > fieldset > .sns_box > div > p > span {
            width: 0;
            height: 0;
            display: block;
            overflow: hidden; }
      .container > .section > .form_box > form > fieldset > .postBox1 > div > #sample4_button {
        background-color: #006CB8;
        color: #fff;
        font-weight: bold; }
      .container > .section > .form_box > form > fieldset > .btn_box {
        border: 0; }
        .container > .section > .form_box > form > fieldset > .btn_box > input {
          font-weight: bold;
          color: #fff;
          border: 0;
          cursor: pointer; }
        .container > .section > .form_box > form > fieldset > .btn_box > #okBtn {
          background-color: #006CB8; }
        .container > .section > .form_box > form > fieldset > .btn_box > #cancleBtn {
          background-color: #aaa; }
      .container > .section > .form_box > form > fieldset div:after {
        content: "";
        display: block;
        clear: both; }

.container:after {
  background-image: url(/_img/sub/pyramidalWaveBG.png);
  top: 0;
  left: 0;
  position: absolute;
  background-size: 75px;
  z-index: -2;
  content: "";
  width: 100%;
  height: 100%;
  background-repeat: repeat;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pyramidalWaveBG.png', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='pyramidalWaveBG.png', sizingMethod='scale')"; }

@media all and (min-width: 1080px) {
  .container {
    padding: 80px 0; }
    .container > .section {
      width: 980px;
      height: auto;
      padding: 50px 50px 0 50px; }
  .tab_silde { width: 900px; height: 66px; margin: 0 auto; margin-bottom: 60px;}
  .tab_silde > li { width: 24%; height: 54px; margin-left: 1.3%; }
  .tab_silde > li > a { width: 100%; height: 100%; font-size: 16px; line-height: 54px; }
  .tab_silde > .slide1 { margin-left: 0; }
  .tab_silde > .on > .triangle-down { border-top: 15px solid #545454; border-right: 15px solid transparent; border-left: 15px solid transparent; width: 0; height: 0; }
  .tab_silde > .individual_member > h5 { height: 46px; padding-top: 8px; }
  .tab_silde > .individual_member > h5 > span { color: inherit; font-size: 12px; }
      .container > .section > .title_box {
        height: 100px;
        margin-bottom: 50px; }
        .container > .section > .title_box > h3 {
          width: auto;
          height: 50px;
          font-size: 44px;
          margin-bottom: 6px; }
        .container > .section > .title_box > p {
          font-size: 16px; }
      .container > .section > .form_box > form > fieldset > div {
        height: auto; }
        .container > .section > .form_box > form > fieldset > div > label {
          width: 150px;
          height: auto;
          padding-top: 22px;
          padding-bottom: 22px;
          font-size: 14px; }
        .container > .section > .form_box > form > fieldset > div > div {
          width: 713px;
          padding-left: 15px; }
          .container > .section > .form_box > form > fieldset > div > div > select {
            width: 20%; }
          .container > .section > .form_box > form > fieldset > div > div > * {
            height: 30px;
            margin-top: 14px; }
          .container > .section > .form_box > form > fieldset > div > div > p {
            line-height: 30px; }
          .container > .section > .form_box > form > fieldset > div > div > span {
            line-height: 30px; }
      .container > .section > .form_box > form > fieldset > .home_box > div > input {
        width: 80%; }
      .container > .section > .form_box > form > fieldset > .email_box > label {
        padding-top: 38px;
        padding-bottom: 38px; }
      .container > .section > .form_box > form > fieldset > .email_box > div > div {
        margin-top: 2%; }
      .container > .section > .form_box > form > fieldset > .email_box > div > #authSubmit {
        width: 20%; }
        .container > .section > .form_box > form > fieldset > .email_box > div > div > p {
          font-size: 14px; }
        .container > .section > .form_box > form > fieldset > .email_box > div > div > * {
          margin-right: 4px; }
        .container > .section > .form_box > form > fieldset > .email_box > div > div > #label_2 {
          margin-left: 10px; }
      .container > .section > .form_box > form > fieldset > .sns_box > div > p {
        width: 30px;
        height: 30px;
        display: block; }
      .container > .section > .form_box > form > fieldset > .postBox1 > label {
        padding-top: 42px;
        padding-bottom: 42px; }
      .container > .section > .form_box > form > fieldset > .postBox1 > div > input {
        width: 40%; }
      .container > .section > .form_box > form > fieldset > .postBox1 > div > #sample4_button {
        font-size: 14px; }
      .container > .section > .form_box > form > fieldset > .btn_box {
        width: 210px;
        height: 35px;
        margin: 3% auto; }
        .container > .section > .form_box > form > fieldset > .btn_box > input {
          width: 100px;
          height: 100%; }
        .container > .section > .form_box > form > fieldset > .btn_box > #okBtn {
          margin-right: 10px; } }
@media (min-width: 641px) and (max-width: 1079px) {
  .container {
    padding: 4% 0; }
    .container > .section {
      width: 96%;
      padding: 3%; }
.tab_silde { width: 96%; height: 66px; margin: 0 auto; margin-bottom: 5%; }
.tab_silde > li { width: 24%; height: 54px; margin: 0.5%; }
.tab_silde > li > a { width: 100%; height: 100%; font-size: 15px; display: block; line-height: 54px; }
.tab_silde > .slide1 { margin-left: 0; }
.tab_silde > .on > .triangle-down { margin: 50%; border-top: 15px solid #545454; border-right: 15px solid transparent; border-left: 15px solid transparent; width: 0; height: 0; }
.tab_silde > .individual_member > h5 { padding-top: 10px; height: 44px; }
.tab_silde > .individual_member > h5 > span { font-size: 11px; }
      .container > .section > .title_box {
        height: auto;
				padding-bottom:2%;
				margin-bottom: 5%; }
        .container > .section > .title_box > h3 {
          font-size: 30px;
          height: 32px;
          width: auto; }
        .container > .section > .title_box > p {
          font-size: 14px;
          margin-top: 6px; }
      .container > .section > .form_box > form > fieldset > div {
        height: auto; }
        .container > .section > .form_box > form > fieldset > div > label {
          width: 23%;
          padding-top: 3%;
          padding-bottom: 3%; }
        .container > .section > .form_box > form > fieldset > div > div {
          width: 77%;
          margin-top: 2.5%; }
          .container > .section > .form_box > form > fieldset > div > div > * {
            height: 28px; }
          .container > .section > .form_box > form > fieldset > div > div > input {
            width: 25%; }
          .container > .section > .form_box > form > fieldset > div > div > select {
            width: 30%; }
          .container > .section > .form_box > form > fieldset > div > div > p {
            line-height: 28px; }
          .container > .section > .form_box > form > fieldset > div > div > span {
            line-height: 28px; }
          .container > .section > .form_box > form > fieldset > div > div > label {
            line-height: 28px; }
      .container > .section > .form_box > form > fieldset > .home_box > div > input {
        width: 80%; }
      .container > .section > .form_box > form > fieldset > .email_box > label {
        padding-top: 40px;
        padding-bottom: 40px; }
      .container > .section > .form_box > form > fieldset > .email_box > div > div {
        margin-top: 2%; }
      .container > .section > .form_box > form > fieldset > .email_box > div > input {
        width: 20%; }
        .container > .section > .form_box > form > fieldset > .email_box > div > div > p {
          font-size: 12px; }
        .container > .section > .form_box > form > fieldset > .email_box > div > div > * {
          margin-right: 4px; }
        .container > .section > .form_box > form > fieldset > .email_box > div > div > #label_2 {
          margin-left: 10px; }
      .container > .section > .form_box > form > fieldset > .sns_box > div > p {
        width: 28px;
        height: 28px;
        display: block; }
      .container > .section > .form_box > form > fieldset > .numBox2 > div > #m_year {
        width: 25%;
        max-width: 150px; }
      .container > .section > .form_box > form > fieldset > .numBox2 > div > #m_month {
        width: 18%;
        max-width: 70px; }
      .container > .section > .form_box > form > fieldset > .numBox2 > div > #m_day {
        width: 18%;
        max-width: 70px; }
      .container > .section > .form_box > form > fieldset > .gender_box > div > #male {
        margin-right: 5%; }
      .container > .section > .form_box > form > fieldset > .gender_box > div > input {
        width: 2%; }
      .container > .section > .form_box > form > fieldset > .postBox1 > label {
        padding-top: 48px;
        padding-bottom: 48px; }
      .container > .section > .form_box > form > fieldset > .postBox1 > div > input {
        width: 40%;
        margin-bottom: 2%; }
      .container > .section > .form_box > form > fieldset > .postBox1 > div > #sample4_button {
        font-size: 14px; }
      .container > .section > .form_box > form > fieldset > .btn_box {
        width: 40%;
        height: 45px;
        margin: 0 auto;
        margin-top: 4%; }
        .container > .section > .form_box > form > fieldset > .btn_box > input {
          width: 48%;
          height: 100%;
          font-size: 14px; }
        .container > .section > .form_box > form > fieldset > .btn_box > #okBtn {
          margin-right: 4%; } }
@media (max-width: 640px) {
  .container {
    padding: 4% 0; }
    .container > .section {
      width: 96%;
      padding: 3%; }
.tab_silde { width: 96%; height: 60px; margin: 0 auto; margin-bottom: 3%; }
.tab_silde > li { width: 23%; height: 40px; margin: 0 1%; }
.tab_silde > li > a { width: 100%; height: 100%; font-size: 11px; display: block; line-height: 40px; }
.tab_silde > li > a > span { font-size: 11px; display: block; line-height: 40px; display: block; }
.tab_silde > .slide1 { margin-left: 0; }
.tab_silde > .slide3 > a { line-height: 0; padding-top: 11px; }
.tab_silde > .on > .triangle-down { margin: 50%; border-top: 10px solid #545454; border-right: 10px solid transparent; border-left: 10px solid transparent; width: 0; height: 0; }
.tab_silde > .individual_member > h5 { padding-top: 10px; height: 44px; }
.tab_silde > .individual_member > h5 > span { font-size: 11px; }
.tab_silde > .enterprise_member > h5 { padding-top: 18px; height: 36px; }
      .container > .section > .title_box {
        height: auto;
				padding-bottom:3%;
				margin-bottom: 7%; }
        .container > .section > .title_box > h3 {
          font-size: 20px;
          height: 26px;
          width: auto; }
        .container > .section > .title_box > p {
          font-size: 12px; }
      .container > .section > .form_box > form > fieldset > div {
        height: auto; }
        .container > .section > .form_box > form > fieldset > div > label {
          width: 23%;
          padding-top: 16px;
          padding-bottom: 16px;
          font-size: 12px; }
        .container > .section > .form_box > form > fieldset > div > div {
          width: 77%;
          margin-top: 6px; }
          .container > .section > .form_box > form > fieldset > div > div > input {
            width: 25%; }
          .container > .section > .form_box > form > fieldset > div > div > * {
            height: 30px;
            margin-left: 2%; }
          .container > .section > .form_box > form > fieldset > div > div > select {
            width: 30%; }
          .container > .section > .form_box > form > fieldset > div > div > p {
            line-height: 30px; }
          .container > .section > .form_box > form > fieldset > div > div > span {
            line-height: 30px; }
          .container > .section > .form_box > form > fieldset > div > div > label {
            line-height: 30px; }
      .container > .section > .form_box > form > fieldset > .home_box > div > input {
        width: 80%; }
      .container > .section > .form_box > form > fieldset > .email_box > label {
        padding-top: 60px;
        padding-bottom: 60px; }
      .container > .section > .form_box > form > fieldset > .email_box > div > input {
        width: 30%; }
      .container > .section > .form_box > form > fieldset > .email_box > div > #m_email1 {
        margin-bottom: 2%; }
      .container > .section > .form_box > form > fieldset > .email_box > div > #m_email2 {
        margin-bottom: 2%; }
      .container > .section > .form_box > form > fieldset > .email_box > div > div {
        margin-top: 2%; }
        .container > .section > .form_box > form > fieldset > .email_box > div > div > p {
					width: 100%;
					margin-bottom: 2%;
          font-size: 11px;
					line-height: 15px; }
        .container > .section > .form_box > form > fieldset > .email_box > div > div > * {
          margin-right: 4px;
					display: block; }
        .container > .section > .form_box > form > fieldset > .email_box > div > div > #label_2 {
          margin-left: 10px; }
      .container > .section > .form_box > form > fieldset > .sns_box > div > p {
        width: 30px;
        height: 30px;
        display: block; }
      .container > .section > .form_box > form > fieldset > .numBox2 > div > #m_year {
        width: 25%; }
      .container > .section > .form_box > form > fieldset > .numBox2 > div > #m_month {
        width: 18%; }
      .container > .section > .form_box > form > fieldset > .numBox2 > div > #m_day {
        width: 18%; }
      .container > .section > .form_box > form > fieldset > .gender_box > div > #male {
        margin-right: 5%; }
      .container > .section > .form_box > form > fieldset > .gender_box > div > input {
        width: 5%; }
      .container > .section > .form_box > form > fieldset > .postBox1 > label {
        padding-top: 35px;
        padding-bottom: 35px; }
      .container > .section > .form_box > form > fieldset > .postBox1 > div > input {
        width: 40%;
        margin-bottom: 2%; }
      .container > .section > .form_box > form > fieldset > .postBox1 > div > #sample4_button {
        font-size: 14px; }
      .container > .section > .form_box > form > fieldset > .btn_box {
        width: 40%;
        height: 45px;
        margin: 0 auto;
        margin-top: 4%; }
        .container > .section > .form_box > form > fieldset > .btn_box > input {
          width: 48%;
          height: 100%; }
        .container > .section > .form_box > form > fieldset > .btn_box > #okBtn {
          margin-right: 4%; } }