input {
  border: 0; }
li > p{text-align: right; }

.container {
  width: 100%;
  height: 100%;
  position: relative; }
  .container * {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    letter-spacing: -1px; }
  .container > .section {
    margin: 0 auto; }
    .container > .section > ul {
      margin: 0 auto; }
      .container > .section > ul > li {
        float: left; }
        .container > .section > ul > li > p {
          font-weight: 900;
          float: left;
          color: #999;
          text-align: center; }
          .container > .section > ul > li > p > span {
            font-weight: 900;
            float: left;
            color: #999;
            text-align: center;
            text-indent: 2px; }
        .container > .section > ul > li > h3 {
          font-weight: bold;
          float: left;
          color: #999; }
      .container > .section > ul > .step_01 {
        border-bottom: 5px solid #4BABFF; }
        .container > .section > ul > .step_01 > p {
          color: #4BABFF; }
          .container > .section > ul > .step_01 > p > span {
            color: #006CBA; }
        .container > .section > ul > .step_01 > h3 {
          color: #333; }
      .container > .section > ul > span {
        background-image: url(/_img/main/signup/arrow.png);
        float: left; }
    .container > .section > .tab_silde > li {
      text-align: center;
      cursor: pointer;
      color: #565656;
      font-weight: bold;
      border: 1px solid #CACACA;
      box-sizing: border-box; }
    .container > .section > .tab_silde > .on > h5 {
      background-color: #565656;
      color: #fff; }
      .container > .section > .tab_silde > .on > h5 > span {
        color: #fff; }
    .container > .section > .tab_silde > .on > .triangle-down {
      margin: 0 auto;
      width: 10%;
      overflow: hidden;
      display: block; }
    .container > .section > .tab_silde > .on .triangle-down:after {
      margin: 0 auto;
      content: "";
      display: block;
      width: 0;
      height: 0;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 15px solid transparent;
      border-top: 15px solid #565656;
      margin-top: -4px; }
    .container > .section > .tab_silde > .individual_member {
      float: left; }
      .container > .section > .tab_silde > .individual_member > span {
        display: block; }
    .container > .section > .tab_silde > .enterprise_member {
      float: right; }
    .container > .section > .content_box {
      margin: 0 auto; }
      .container > .section > .content_box > div > form > fieldset .article_1 > legend {
        font-weight: bold; }
      .container > .section > .content_box > div > form > fieldset .article_1 > p {
        color: #ff0000; }
      .container > .section > .content_box > div > form > fieldset .numBox > select {
        border-right: 1px solid #ccc;
        box-sizing: border-box; }
      .container > .section > .content_box > div > form > fieldset .numBox > input {
        box-sizing: border-box;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc; }
      .container > .section > .content_box > div > form > fieldset .numBox2 > select {
        border-right: 1px solid #ccc;
        box-sizing: border-box; }
      .container > .section > .content_box > div > form > fieldset .numBox2 > input {
        box-sizing: border-box;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc; }
      .container > .section > .content_box > div > form > fieldset .numBox3 > select {
        border-right: 1px solid #ccc;
        box-sizing: border-box; }
      .container > .section > .content_box > div > form > fieldset .numBox3 > input {
        box-sizing: border-box;
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc; }
      .container > .section > .content_box > div > form > fieldset .numBox > span {
        float: left; }
      .container > .section > .content_box > div > form > fieldset .emailBox > input {
        border-right: 1px solid #ccc;
        box-sizing: border-box; }
      .container > .section > .content_box > div > form > fieldset .emailBox > #authSubmit {
        background-color: #006CB8;
        color: #fff;
        font-weight: bold;
        text-indent: 0; }
      .container > .section > .content_box > div > form > fieldset .emailBox > p {
        border-right: 1px solid #ccc;
        box-sizing: border-box; }
      .container > .section > .content_box > div > form > fieldset > ul {
        box-sizing: border-box;
        border-top: 1px solid #DADADA; }
        .container > .section > .content_box > div > form > fieldset > ul > li {
          box-sizing: border-box;
          border-bottom: 1px solid #DADADA;
          border-right: 1px solid #DADADA;
          border-left: 1px solid #DADADA; }
          .container > .section > .content_box > div > form > fieldset > ul > li > * {
            float: left; }
          .container > .section > .content_box > div > form > fieldset > ul > li > label {
            color: #FF0000; }
          .container > .section > .content_box > div > form > fieldset > ul > li > input {
            text-indent: 6px; }
          .container > .section > .content_box > div > form > fieldset > ul > li > p {
            float: right;
            color: #aaa; }
      .container > .section > .content_box > div > form > fieldset > .inputBox02 > .postBox1 > #sample4_button {
        background-color: #006CB8;
        color: #fff;
        font-weight: bold;
        text-indent: 0; }
      .container > .section > .content_box > div > form > fieldset > .inputBox11 > .companyNumber > #c_no1 {
        border-right: 1px solid #ccc; }
      .container > .section > .content_box > div > form > fieldset > .inputBox11 > .companyNumber > #c_no2 {
        border-right: 1px solid #ccc;
        border-left: 1px solid #ccc; }
      .container > .section > .content_box > div > form > fieldset > .inputBox11 > .companyNumber > #c_no3 {
        border-left: 1px solid #ccc; }
      .container > .section > .content_box > div > form > fieldset > .inputBox11 > .companyNumber > span {
        margin: 0 10px; }
      .container > .section > .content_box > div > form > fieldset > .inputBox11 > .companyNumber > .submitBtn {
        background-color: #006CB8;
        color: #fff;
        font-weight: bold;
        text-indent: 0; }
    .btn_box {
      margin: 0 auto; }
      .btn_box > input {
        font-weight: bold;
        cursor: pointer; }
      .btn_box > #okBtn {
        background-color: #006CB8;
        color: #fff;
        float: left; }
      .btn_box > #cancleBtn {
        border: 1px solid #aaa;
        box-sizing: border-box;
        color: #295282;
        float: right;
        background-color: #fff; }

@media all and (min-width: 1080px) {
  .container > .section {
    width: 1080px;
    padding-top: 135px; }
    .container > .section > ul {
      width: 700px;
      height: 64px;
      margin-bottom: 65px; }
      .container > .section > ul > li {
        width: auto;
        height: 100%; }
        .container > .section > ul > li > p {
          width: 50px;
          font-size: 20px; }
          .container > .section > ul > li > p > span {
            font-size: 42px;
            line-height: 38px;
            text-indent: 2px; }
        .container > .section > ul > li > h3 {
          width: auto;
          font-size: 24px;
          height: 100%;
          line-height: 28px; }
      .container > .section > ul > span {
        width: 20px;
        height: 32px;
        margin: 16px 50px 0 50px; }
    .container > .section > .tab_silde {
      width: 710px;
      height: 66px;
      margin-bottom: 25px; }
      .container > .section > .tab_silde > li {
        width: 350px;
        height: 54px; }
        .container > .section > .tab_silde > li > h5 {
          width: 100%;
          display: block;
          font-size: 18px; }
      .container > .section > .tab_silde > .on > .triangle-down {
        margin: 0 auto;
        width: 10%;
        overflow: hidden;
        display: block; }
      .container > .section > .tab_silde > .on .triangle-down:after {
        margin: 0 auto;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-top: 15px solid #565656;
        margin-top: -4px; }
      .container > .section > .tab_silde > .individual_member > h5 {
        height: 46px;
        padding-top: 8px; }
        .container > .section > .tab_silde > .individual_member > h5 > span {
          color: inherit;
          font-size: 12px; }
      .container > .section > .tab_silde > .enterprise_member > h5 {
        height: 38px;
        padding-top: 16px; }
    .container > .section > .content_box {
      width: 710px;
      height: auto;
      margin-bottom: 70px; }
      .container > .section > .content_box > .tab_content > form .article_1 {
        height: 60px;
        margin-bottom: 40px; }
        .container > .section > .content_box > .tab_content > form .article_1 > legend {
          width: 100%;
          height: auto;
          font-size: 32px; }
        .container > .section > .content_box > .tab_content > form .article_1 > p {
          font-size: 14px;
          margin-top: 6px; }
      .container > .section > .content_box > .tab_content > form li {
        width: 100%;
        height: 58px;
        padding: 11px 19px; }
        .container > .section > .content_box > .tab_content > form li > * {
          height: 35px;
          line-height: 36px; }
        .container > .section > .content_box > .tab_content > form li > label {
          line-height: 38px;
          margin-right: 4px; }
      .container > .section > .content_box > .tab_content > form .emailBox > input {
        width: 160px; }
      .container > .section > .content_box > .tab_content > form .emailBox > #authSubmit {
        width: 150px;
				float: right; }
      .container > .section > .content_box > .tab_content > form .emailBox > p {
        width: 22px;
        font-size: 18px;
        margin: 0 6px;
        float: left;
				text-indent: 0; }
      .container > .section > .content_box > .tab_content > form .emailBox > select {
        margin-left: 10px;
        width: 130px; }
      .container > .section > .content_box > .tab_content > form .nameBox > input {
        width: 320px; }
      .container > .section > .content_box > .tab_content > form .pwBox1 > input {
        width: 320px; }
      .container > .section > .content_box > .tab_content > form .pwBox2 > input {
        width: 320px; }
      .container > .section > .content_box > .tab_content > form p {
        font-size: 12px; }
      .container > .section > .content_box > #tab1 {
        width: 100%;
        height: auto; }
        .container > .section > .content_box > #tab1 > form {
          width: 100%; }
          .container > .section > .content_box > #tab1 > form > fieldset {
            width: 100%; }
            .container > .section > .content_box > #tab1 > form > fieldset > .article_1 {
              width: 100%; }
            .container > .section > .content_box > #tab1 > form > fieldset > ul {
              height: auto; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox01 {
              margin-bottom: 40px; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .numBox > select {
              width: 150px; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .numBox > input {
              width: 195px; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .numBox > span {
              margin: 0 10px; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .genderBox > .gender {
              margin: 0 10px 0 50px;
							color: #333; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .genderBox > label {
              margin-right: 10px; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .numBox2 > input {
              width: 150px; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .numBox2 > span {
              margin: 0 10px; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox1 > #sample4_postcode {
              width: 230px;
              margin-right: 10px; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox1 > #sample4_button {
              width: 120px;
              font-size: 14px; }
            .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox2 > #sample4_Address {
              width: 330px;
              margin-right: 10px; }
      .container > .section > .content_box > #tab2 > form > fieldset > ul {
        margin-bottom: 40px; }
        .container > .section > .content_box > #tab2 > form > fieldset > ul > li {
          width: 100%;
          height: 58px;
          padding: 11px 19px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > li > input {
        width: 320px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > li > p {
        line-height: 18px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > li > .submitBtn {
        width: 120px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > #c_no1 {
        width: 170px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > #c_no2 {
        width: 80px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > #c_no3 {
        width: 170px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > .submitBtn {
        width: 120px;
        float: right; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .nameBox > input {
        width: 180px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .numBox > select {
        width: 150px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .numBox > input {
        width: 195px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .numBox > span {
        margin: 0 10px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .numBox2 > select {
        width: 120px;
        margin-left: 10px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .numBox2 > input {
        width: 170px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .numBox2 > span {
        margin: 0 10px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .numBox3 > select {
        width: 150px;
        margin-left: 10px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .numBox3 > input {
        width: 170px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox13 > .numBox3 > span {
        margin: 0 10px; }
    .btn_box {
			margin-bottom:200px;
			margin-top:50px;
      width: 498px;
      height: 76px;
      margin-bottom: 90px; }
      .btn_box > input {
        width: 244px;
        height: 100%;
        font-size: 25px; } }
@media (min-width: 641px) and (max-width: 1079px) {
  .container > .section {
    width: 96%;
    padding-top: 80px; }
    .container > .section > ul {
      width: 95%;
      height: 40px;
      margin-bottom: 65px; }
      .container > .section > ul > li {
        width: 25%;
        height: 100%; }
        .container > .section > ul > li > p {
          width: 26px;
          font-weight: 900;
          font-size: 12px; }
          .container > .section > ul > li > p > span {
            font-weight: 900;
            font-size: 24px;
            line-height: 24px;
            text-indent: 2px; }
        .container > .section > ul > li > h3 {
          width: auto;
          font-size: 16px;
          height: 100%;
          float: left;
          margin-left: 4px;
          margin-top: 2px; }
      .container > .section > ul > span {
        width: 8%;
        height: 24px;
        margin: 16px 1% 0 1%;
        background-size: contain; }
    .container > .section > .tab_silde {
      width: 95%;
      height: 66px;
      margin-bottom: 5%; }
      .container > .section > .tab_silde > li {
        width: 45%;
        height: 54px; }
        .container > .section > .tab_silde > li > h5 {
          width: 100%;
          font-size: 16px; }
      .container > .section > .tab_silde > .on > .triangle-down {
        margin: 0 auto;
        width: 20%;
        overflow: hidden;
        display: block; }
      .container > .section > .tab_silde > .on .triangle-down:after {
        margin: 0 auto;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-top: 15px solid #565656;
        margin-top: -4px; }
      .container > .section > .tab_silde > .individual_member > h5 {
        padding-top: 10px;
        height: 44px; }
        .container > .section > .tab_silde > .individual_member > h5 > span {
          font-size: 11px; }
      .container > .section > .tab_silde > .enterprise_member > h5 {
        padding-top: 18px;
        height: 36px; }
    .container > .section > .content_box > .tab_content > form {
      margin-bottom: 8%; }
      .container > .section > .content_box > .tab_content > form > fieldset {
        height: auto; }
        .container > .section > .content_box > .tab_content > form > fieldset > .article_1 {
          height: auto;
          margin-bottom: 5%; }
          .container > .section > .content_box > .tab_content > form > fieldset > .article_1 > legend {
            width: 100%;
            height: auto;
            font-size: 24px; }
          .container > .section > .content_box > .tab_content > form > fieldset > .article_1 > p {
            font-size: 12px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > li {
          width: 100%;
          height: 50px;
          padding: 8px; }
          .container > .section > .content_box > .tab_content > form > fieldset > ul > li > * {
            height: 32px; }
          .container > .section > .content_box > .tab_content > form > fieldset > ul > li > label {
            line-height: 32px; }
          .container > .section > .content_box > .tab_content > form > fieldset > ul > li > p {
            font-size: 14px;
            display: block;
            height: 24px;
            line-height: 30px;
            margin-right: 2px; }
          .container > .section > .content_box > .tab_content > form > fieldset > ul > li > span {
            margin-top: 8px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .nameBox > input {
          width: 50%;
          max-width: 300px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .pwBox1 > input {
          width: 50%;
          max-width: 300px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .pwBox2 > input {
          width: 50%;
          max-width: 300px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox > select {
          width: 25%;
          max-width: 150px;
					margin-left: 6px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox > span {
          padding: 0 2%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox > input {
          width: 30%;
          max-width: 200px; }
        .container > .section > .content_box > #tab1 > form > fieldset > ul > .emailBox {
          height: 100px;
					width: 100%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .emailBox > input {
          width: 30%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .emailBox > .m_email1 {
          width: 30%;
          max-width: 200px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .emailBox > .m_email2 {
          width: 30%;
          max-width: 200px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .emailBox > select {
          width: 30%;
          max-width: 200px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .emailBox > p {
          font-size: 16px;
          float: left;
          padding: 0 2%;
          height: 32px;
          line-height: 28px; }
			.container > .section > .content_box > #tab1 > form > fieldset > .inputBox01 > .emailBox > #authSubmit {
			margin-left:5%;
			margin-top: 18px;
      width: 90%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox2 > select {
          width: 15%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox2 > input {
          width: 25%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox2 > span {
          padding: 0 2%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox3 > select {
          width: 15%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox3 > input {
          width: 25%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox3 > span {
          padding: 0 2%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox01 {
      margin-bottom: 6%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .genderBox > .gender {
      margin: 0 10px 0 50px;
			color: #333; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .genderBox > label {
      margin-right: 10px; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .numBox2 > input {
      width: 20%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .numBox2 > span {
      margin: 0 1%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox1 > input {
      width: 30%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox1 > #sample4_button {
      margin-left: 2%;
      font-size: 14px; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox2 > input {
      width: 40%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox2 > #sample4_jibunAddress {
      margin-left: 6%; }
    .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 {
      margin-bottom: 6%; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyName > p {
        line-height: 17px; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber {
        height: 84px; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > #c_no1 {
          margin-left: 5%;
          width: 35%;
          max-width: 160px; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > #c_no2 {
          width: 15%;
          max-width: 60px; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > #c_no3 {
          width: 20%;
          max-width: 130px; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > .submitBtn {
          width: 80%;
          margin-left: 10%;
          margin-top: 6px;}
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > span {
          padding: 0 2%; }
    .container > .section > .content_box > #tab2 > form > fieldset > .inputBox12 {
      margin-bottom: 5%; }
    .btn_box {
      width: 95%;
      height: 40px;
			margin-bottom:80px;
			margin-top:5%;}
      .btn_box > input {
        width: 45%;
        height: 100%;
        font-size: 17px; } }
@media (max-width: 640px) {
  .container > .section {
    width: 96%;
    padding-top: 80px; }
    .container > .section > ul {
      width: 95%;
      height: 40px;
      margin-bottom: 65px; }
      .container > .section > ul > li {
        width: 25%;
        height: 100%; }
        .container > .section > ul > li > p {
          width: 26px;
          font-weight: 900;
          font-size: 12px; }
          .container > .section > ul > li > p > span {
            font-weight: 900;
            font-size: 24px;
            line-height: 24px;
            text-indent: 2px; }
        .container > .section > ul > li > h3 {
          width: auto;
          font-size: 15px;
          height: 100%;
          float: left;
          margin-left: 4px;
					margin-top: 2px; }
      .container > .section > ul > span {
        width: 8%;
        height: 24px;
        margin: 16px 1% 0 1%;
        background-size: contain; }
    .container > .section > .tab_silde {
      width: 95%;
      height: 66px;
      margin-bottom: 5%; }
      .container > .section > .tab_silde > li {
        width: 45%;
        height: 54px; }
        .container > .section > .tab_silde > li > h5 {
          width: 100%;
          font-size: 16px; }
      .container > .section > .tab_silde > .on > .triangle-down {
        margin: 0 auto;
        width: 20%;
        overflow: hidden;
        display: block; }
      .container > .section > .tab_silde > .on .triangle-down:after {
        margin: 0 auto;
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-right: 15px solid transparent;
        border-left: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-top: 15px solid #565656;
        margin-top: -4px; }
      .container > .section > .tab_silde > .individual_member > h5 {
        padding-top: 10px;
        height: 44px; }
        .container > .section > .tab_silde > .individual_member > h5 > span {
          font-size: 11px; }
      .container > .section > .tab_silde > .enterprise_member > h5 {
        padding-top: 18px;
        height: 36px; }
    .container > .section > .content_box > .tab_content > form {
      margin-bottom: 8%; }
      .container > .section > .content_box > .tab_content > form > fieldset {
        height: auto; }
        .container > .section > .content_box > .tab_content > form > fieldset > .article_1 {
          height: auto;
          margin-bottom: 5%; }
          .container > .section > .content_box > .tab_content > form > fieldset > .article_1 > legend {
            width: 100%;
            height: auto;
            font-size: 24px; }
          .container > .section > .content_box > .tab_content > form > fieldset > .article_1 > p {
            font-size: 12px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > li {
          width: 100%;
          height: 40px;
          padding: 8px; }
          .container > .section > .content_box > .tab_content > form > fieldset > ul > li > * {
            height: 24px; }
          .container > .section > .content_box > .tab_content > form > fieldset > ul > li > select {
            margin-left:2%; }
          .container > .section > .content_box > .tab_content > form > fieldset > ul > li > label {
            line-height: 22px; }
          .container > .section > .content_box > .tab_content > form > fieldset > ul > li > p {
            font-size: 11px;
            line-height: 15px; 
            height: 13px; }
          .container > .section > .content_box > .tab_content > form > fieldset > ul > li > p > span {
            font-size: inherit;
            font-weight: inherit;
            line-height: 15px; 
            display: block; 
            height: 13px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .pwBox1 > input {
          width: 50%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .pwBox2 > input {
          width: 50%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox > select {
          width: 20%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox > span {
          padding: 0 2%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox > input {
          width: 30%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .emailBox > input {
          width: 30%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .emailBox > select {
          width: 25%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .emailBox > p {
          font-size: 14px;
          float: left;
          padding: 0 2%;
          height: 24px;
          line-height: 20px; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox2 > select {
          width: 15%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox2 > input {
          width: 25%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox2 > span {
          padding: 0 2%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox3 > select {
          width: 15%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox3 > input {
          width: 25%; }
        .container > .section > .content_box > .tab_content > form > fieldset > ul > .numBox3 > span {
          padding: 0 2%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox01 {
      margin-bottom: 8%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox01 > .emailBox {
      height: 80px; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox01 > .emailBox > #authSubmit {
      width: 90%;
			margin-left:5%;
			margin-top: 16px; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .genderBox > .gender {
      margin: 0 10px 0 50px;
			color: #333; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .genderBox > label {
      margin-right: 10px; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .numBox2 > input {
      width: 20%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .numBox2 > span {
      margin: 0 1%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox1 > input {
      width: 40%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox1 > #sample4_button {
      margin-left: 2%;
      font-size: 14px; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox2 > input {
      width: 40%; }
    .container > .section > .content_box > #tab1 > form > fieldset > .inputBox02 > .postBox2 > #sample4_jibunAddress {
      margin-left: 5%; }
    .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 {
      margin-bottom: 8%; }
      .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber {
        height: 70px; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > #c_no1 {
          margin-left: 5%;
          width: 35%;
          max-width: 160px; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyName > input {
          width: 40%; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyName > p {
          line-height: 14px;
					margin-top:0; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > #c_no2 {
          width: 15%;
          max-width: 60px; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > #c_no3 {
          width: 20%;
          max-width: 130px; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > .submitBtn {
          width: 80%;
          margin-left: 10%;
          margin-top: 6px; }
        .container > .section > .content_box > #tab2 > form > fieldset > .inputBox11 > .companyNumber > span {
          padding: 0 2%;
          margin: 0; }
    .container > .section > .content_box > #tab2 > form > fieldset > .inputBox12 {
      margin-bottom: 8%; }
.btn_box {
			margin-bottom:50px;
			margin-top:5%;
      width: 80%;
      height: 34px; }
.btn_box > input {
        width: 45%;
        height: 100%;
        font-size: 16px; } }