.container { width: 100%; height: 100%; position: relative; background-color: #e0f0f0; }
.container * { background-position: center center; background-repeat: no-repeat; background-size: contain; letter-spacing: -1px; }
.container > .section { margin: 0 auto; }
.container > .section > h3 { background-image: url(/_img/sub/ncs/ncs1.jpg); }
.container > .section > h3 > span { width: 0; height: 0; display: block; overflow: hidden; }
.container > .section .nomalT { color: #333; }
.container > .section .fcg { color: #689f95; font-weight: bold; }
.container > .section > .img1 { background-image: url(/_img/sub/ncs/ncs2.png); margin: 0 auto; }
.container > .section > .img1 > span { width: 0; height: 0; display: block; overflow: hidden; }
.container > .section > ul > li > * { float: left; }
.container > .section > ul > li > div > span { width: 0; height: 0; display: block; overflow: hidden; }
.container > .section > ul > li > h5 { color: #24518c; }
.container > .section > ul > .box1 > div { background-image: url(/_img/sub/ncs/ncs3-1.png); }
.container > .section > ul > .box2 > div { background-image: url(/_img/sub/ncs/ncs3-2.png); }
.container > .section > .img2 { background-image: url(/_img/sub/ncs/ncs4.png); margin: 0 auto; }
.container > .section > .img2 > span { width: 0; height: 0; display: block; overflow: hidden; }
.container > .section > .footerT { color: #333; }
.noticeList{border-top:1px solid #565656;color:#565656;}
.noticeList li{border-bottom:1px solid #bbbbbb;}
.noticeListTitle a{text-decoration:none;color:#565656;}

@media all and (min-width: 1080px) { .container > .section { width: 1020px; padding-bottom: 60px; }
  .container > .section > h3 { width: 100%; height: 380px !important; }
  .container > .section .nomalT { font-size: 16px; line-height: 24px; margin: 20px 0; }
  .container > .section .fcg { font-size: 16px; line-height: 24px; }
  .container > .section > .img1 { width: 710px; height: 350px; margin-top: 50px; margin-bottom: 100px; }
  .container > .section > ul { width: 100%; padding-top: 30px; }
  .container > .section > ul > li { width: 100%; height: 250px; margin-bottom: 30px; }
  .container > .section > ul > li > div { width: 200px; height: 250px; margin-right: 10px; }
  .container > .section > ul > li > h5 { width: 800px; font-size: 25px; margin-top: 35px; }
  .container > .section > ul > li > .nomalT { width: 800px; margin-top: 10px; }
  .container > .section > .img2 { width: 720px; height: 470px; margin-top: 50px; margin-bottom: 30px; }
  .container > .section > .footerT { font-size: 14px; line-height: 24px; }
.noticeListBG{margin:0 auto;margin-top:94px;margin-bottom:80px;width:1080px;}
.noticeList li{width:100%;height:38px;line-height:38px;}
.noticeListNum{float:left;width:63px;text-align:center;}
.noticeListTitle{float:left;padding:0 20px;width:784px;}
.noticeListDate{float:left;width:191px;text-align:center;}}
@media (min-width: 641px) and (max-width: 1079px) { .container > .section { width: 100%; padding-bottom: 10%; }
  .container > .section > * { width: 90%; margin: 0 auto; }
  .container > .section > h3 { width: 100%; height: 50px; margin-bottom: 20px; }
  .container > .section .nomalT { font-size: 16px; line-height: 28px; margin: 7px auto; }
  .container > .section .fcg { font-size: 16px; line-height: 28px; }
  .container > .section > ul { padding-top: 30px; }
  .container > .section > ul > li { width: 100%; height: auto; }
  .container > .section > ul > li > div { width: 30%; height: 215px; }
  .container > .section > ul > li > h5 { width: 70%; font-size: 20px; margin-top: 50px; }
  .container > .section > ul > li > .nomalT { width: 70%; margin-bottom: 20px; }
  .container > .section > ul li:after { content: ""; display: block; clear: both; }
  .container > .section ul:after { content: ""; display: block; clear: both; }
  .container > .section > .img2 { margin-top: 50px; margin-bottom: 30px; }
  .container > .section .footerT { font-size: 12px; line-height: 16px; margin-top: 30px; }
.noticeList{width:96%;border-top:1px solid #565656;color:#565656;margin: 0 auto; margin-bottom: 100px;}
.noticeList li{width:100%;height:58px;font-size:14px;}
.noticeListNum{float:left;width:10%;line-height:58px;text-align:center;}
.noticeListTitle{float:left;padding:0 3%;padding-top:12px;width:82%;height:14px;}
.noticeListDate{float:left;padding:0 3%;padding-top:10px;width:82%; height:15px;}}
@media (max-width: 640px) { .container > .section { width: 100%; padding-bottom: 5%; }
  .container > .section > * { width: 96%; margin: 0 auto; }
  .container > .section > h3 { width: 100%; height: 50px; }
  .container > .section .nomalT { font-size: 12px; line-height: 18px; margin: 7px auto; }
  .container > .section .fcg { font-size: 12px; line-height: 18px; }
  .container > .section > ul { padding-top: 30px; }
  .container > .section > ul > li { width: 100%; height: auto; }
  .container > .section > ul > li > div { width: 30%; height: 110px; }
  .container > .section > ul > li > h5 { width: 70%; font-size: 12px; }
  .container > .section > ul > li > .nomalT { width: 70%; margin-bottom: 20px; }
  .container > .section ul:after { content: ""; display: block; clear: both; }
  .container > .section .footerT { font-size: 11px; line-height: 16px; }
.noticeList{width:96%;margin: 0 auto; margin-bottom: 50px;}
.noticeListNum{float:left;width:17%;line-height:58px;text-align:center;}
.noticeListTitle{float:left;padding:0 3%;padding-top:12px;width:77%;height:14px;}
.noticeListDate{float:left;padding:0 3%;padding-top:10px;width:77%; height:15px;}}


.noticeList li:hover > .noticeListTitle > a {color: #24518c; font-weight: bold; }