@charset "utf-8";



.curriculumListBG{background-image:url('/assets/img/sub/waveBG.png');background-repeat:repeat;}
/* For larger displays */
@media all and (min-width:1080px){
.curriculumListBox{margin:0 auto;padding-bottom:94px;width:1080px;}
.curriculumListGroupName{display:inline-block;margin:0 auto;margin-bottom:34px;padding-top:66px;padding-right:42px;vertical-align:bottom;font-size:25px;color:#555555;}
.unemployment{background-image:url('/assets/img/sub/curriculum/curriculumList/unemployment.png');background-position: right bottom;}
.employee{background-image:url('/assets/img/sub/curriculum/curriculumList/employee.png');background-position: right bottom;}
.curriculumList li{float:left;margin:3px;width:352px;height:289px;border:1px solid #D9D9D9;background-color:#FFF;}
.curriculumList li a{text-decoration:none;}
.curriculumList h4{padding:37px 0 18px 0;margin:0 28.5px;width:295px;color:#006CB8;font-size:16px;font-weight:bold;border-bottom:1px solid #000;}
.curriculumListImg{padding-top:14px ;margin:0 28.5px; width:295px;height:175px;}
.curriculumListImg img{width:100%;}

/*사전예약하기 버튼*/
.reservationBtns{margin:0 auto;padding-top:124px;width:892px;}
.advanceReservationBtn{display:inline-block;padding:25px 0px 15px 30px;width:400px;text-decoration:none;color:#fff;font-size:25px;font-weight:bold;background-image:url('/assets/img/sub/curriculum/curriculumList/btnArrow.png');background-position:90% 50%;}
.regular{background-color:#00aced;border-bottom:6px solid #006cb8;}
.unemployed{margin-left:32px;background-color:#006cb8;border-bottom:6px solid #1c4682;}
}

/* For smaller displays like laptops */
@media (min-width: 641px) and (max-width: 1079px) {

.curriculumListBox{margin:0 auto;padding-bottom:68px;width:90%;}
.curriculumListGroupName{display:inline-block;margin:0 auto;margin-bottom:34px;padding-top:66px;padding-right:42px;vertical-align:bottom;font-size:25px;color:#555555;}
.unemployment{background-image:url('/assets/img/sub/curriculum/curriculumList/unemployment.png');background-position: right bottom;}
.employee{background-image:url('/assets/img/sub/curriculum/curriculumList/employee.png');background-position: right bottom;}
.curriculumList li{float:left;margin:3px;width:48.5%;height:;border:1px solid #D9D9D9;background-color:#FFF;}
.curriculumList li a{text-decoration:none;}
.curriculumList h4{padding:37px 0 18px 0;margin:0 auto;width:83%;color:#006CB8;font-size:16px;font-weight:bold;border-bottom:1px solid #000;}
.curriculumListImg{padding:14px 0 ;margin:0 auto;width:83%; }
.curriculumListImg img{width:100%;}

/*사전예약하기 버튼*/
.reservationBtns{margin:0 auto;padding-top:124px;width:544px;}
.advanceReservationBtn{display:inline-block;padding:16px 0px 9px 18px;width:244px;text-decoration:none;color:#fff;font-size:15px;font-weight:bold;background-image:url('/assets/img/sub/curriculum/curriculumList/btnArrow.png');background-size:12%;background-position:93% 50%;}
.regular{background-color:#00aced;border-bottom:6px solid #006cb8;}
.unemployed{margin-left:20px;background-color:#006cb8;border-bottom:6px solid #1c4682;}


}

/* For smartphones */
@media (max-width: 640px) {


.curriculumListBox{margin:0 auto;padding-bottom:68px;width:90%;}
.curriculumListGroupName{display:inline-block;margin:0 auto;margin-bottom:20px;padding-top:66px;padding-right:31px;vertical-align:bottom;font-size:16px;color:#555555;}
.unemployment{background-image:url('/assets/img/sub/curriculum/curriculumList/unemployment.png');background-position: right bottom;background-size:29px 29px;}
.employee{background-image:url('/assets/img/sub/curriculum/curriculumList/employee.png');background-position: right bottom;background-size:29px 29px;}
.curriculumList{z-index:99;}
.curriculumList li{position:relative;float:left;margin:1px 3px;width:47%;border:1px solid #D9D9D9;background-color:#FFF;overflow:hidden;}
.curriculumList li a{text-decoration:none;}
.curriculumList h4{position:absolute;/* top:40%; */left:10%;width:80%;color:#fff;font-size:16px; line-height:18px;font-weight:bold;z-index:999;}
.curriculumListImg{position:absolute;width:100%;height:100%; z-index:998;background-color:#000;}
.curriculumListImg img{-webkit-transform: translate(-20%,0%); -ms-transform: translate(-20%,0%); transform: translate(-20%,0%);opacity:0.5;}

.ellipsisLine3{ overflow: hidden;text-overflow: ellipsis;display: -webkit-box;-webkit-line-clamp: 3;/*  라인수 */-webkit-box-orient: vertical;word-wrap:break-word; }


/*사전예약하기 버튼*/
.reservationBtns{padding-top:40px;}
.advanceReservationBtn{display:block;margin:0 auto;padding:16px 0px 9px 18px;width:244px;text-decoration:none;color:#fff;font-size:15px;font-weight:bold;background-image:url('/assets/img/sub/curriculum/curriculumList/btnArrow.png');background-size:12%;background-position:93% 50%;}
.regular{background-color:#00aced;border-bottom:6px solid #006cb8;}
.unemployed{margin-top:7px;background-color:#006cb8;border-bottom:6px solid #1c4682;}
}